@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400i,600,700');
@font-face {
    font-family: 'Elephant';
    src: url('fonts/Elephant.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.otf');
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}
header{
	width: 100%;
	min-height: 758px;
	height: auto;
}
a{
	color: inherit;
}
#contact{
	background-color: rgba(221, 57, 57, 0.8);
	height: 55px;
}
#contact img{
	width: 20px;
}
#contact span{
	font-family: 'Montserrat';
}
#contact p{
	line-height: 55px;
	margin: 0;
	font-size: 13px;
	display: inline-block;
}
#contact .col-xs-6{
	padding: 0;
	text-align: center;
}
#contact .container{
	padding: 0 10px;
}
#intro{
	padding: 0;
}
#intro h1{
	font-family: "Elephant", sans-serif;
	font-size: 28px;
	font-weight: 200;
	text-align: center;
	letter-spacing: -1px;
	margin: 40px 0;
}
#intro span{
	color: rgb(221, 57, 57);
	font-family: 'Open Sans';
	font-size: 18px;
}
#intro h2{
	font-weight: 700;
	font-size: 18px;
	font-family: 'Montserrat';
}
#intro p{
	text-align: justify;
	margin-top: 20px;
	font-size: 13px;
}
#intro p:last-of-type{
	font-weight: 700;
}
#intro div:first-of-type{
	margin: 35px auto;
	min-height: 23px;
}
#intro img{
	padding-left: 0;
	padding-right: 0;
}
.button{
	font-family: 'Montserrat';
	background-color: #ffcb2d;
	border-radius: 27px;
	width: 176px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 3px;
	border: none;
	margin: 0 auto;
}
#intro .button img{
	padding-left: 3px;
}
.underline{
	border-bottom: 2px solid #ffcb2d;
	padding-bottom: 20px;
	white-space: nowrap;
	width: 82px;
}
#book{ 
	position: relative;
	top: -100px;
	width: 100%;
	color: #000;
	height: 670px;
}
#book h2, #book h3{
	font-family: 'Montserrat';
}
#book .container{
	padding-bottom: 70px;
} 
#book h2{
	margin-top: 0;
	font-size: 18px;
}
#book ul{
	padding-left: 15px;
	margin-top: 0;
}
#book ul span{
	font-weight: 600;
}
#pagination{
	width: 85px;
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
}
.page{
	margin-top: 30px;
}
.page-position{
	background-position: right !important;
	padding-left: 30px;
}
.page-btn{
	width: 27px;
	height: 27px;
	background-color: #e0e1e3;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}
.page-active{
	background-color: #ffcb2d;
}
.title{
	font-size: 50px;
	letter-spacing: -1px;
	color: rgb(218,33,40);
	font-family: "Elephant";
	text-align: center;
}
.slider{
	color: #000;
	position: relative;
}
.slider h3{
	font-family: 'Montserrat';
	font-size: 18px;
	position: relative;
	margin-bottom: 30px;
}
.slider span{
	color: rgb(221, 57, 57);
	font-weight: 600;
}
.active{
	display: block !important;
}
.slider ul {
	width: 300px;
  	list-style: none;
  	margin: 0 auto;
  	padding: 0;
  	text-align: center;
}
.slider ul img{
	display: block;
	margin: 0 auto;
}
.authors li.show:before{
	content: '';
    display: block;
	width: 100%;
	height: 100%;
	background-color: #d9212780;
	position: absolute;
	border-radius: 50%;
}
.partners li.show:before{
	content: '';
    display: block;
	width: 12%;
	height: 38%;
	background-color: #ffffff8a;
	position: absolute;
}
.authors ul img{
	border-radius: 50%;
}
.partners ul img{
	height: 90px;
	padding: 15px;
}
.partners .prev, .partners .next{
	top: 50px;
}
.prev, .next{
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 100px;
	transform: translateY(-50%);
}
.next{
	right: 0;
}
.slider-underline:before{
	content: '';
	display: block;
	width: 82px;
	height: 2px;
	background-color: #ffcb2d;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}
footer{
	background-color: #d92127;
	text-align: center;
	margin-top: 70px;
}
footer h2{
	font-family: 'Elephant';
	font-size: 45px;
	letter-spacing: -1px;
	margin-bottom: 20px;
}
footer p{
	font-size: 24px;
	margin-top: 0;
}
footer p:last-of-type{
	font-size: 13px;
}
.checkbox{
	margin: 35px 0;
	position: relative;
}
.checkbox p{
	position: absolute;
	top: -22px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    width: 100%;
    font-size: 14px;
    color: #fff900;
}
#form input{
	padding-left: 25px;
	color: #000;
	outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 23px;
    -webkit-appearance: none; 
    box-shadow: none !important;
    border: none;
    width: 289px;
	height: 46px;
	margin-top: 20px;
}
footer .button{
	outline: none;
	margin-top: 15px;
	margin-bottom: 45px;
}
.error::placeholder{
	color: red;
	font-weight: 700;
}
@media only screen and (min-width: 576px){
	#contact img{
		width: 27px;
	}
	#contact p{
		font-size: 13px;
	}
	#book{
		height: auto;
	}
	#book h2{
		margin-bottom: 47px;
	}
	#book .underline{
		padding-bottom: 30px;
	}
	#book ul li{
		padding-bottom: 10px;
	}
	#book h3{
		font-size: 16px;
		margin: 27px 0;
		position: relative;
		z-index: 1;
	}
	#book .button{
		width: 252px;
		color: #FFF;
		margin-bottom: 20px;
	}
	.page{
		padding-left: 50px;
		margin-top: 55px;
	}
	.page:nth-child(2){
		margin-top: 70px;
	}
	.page h3 span{
		position: absolute;
		font-family: 'Elephant';
		font-size: 100px;
		color: rgb(233,208,211);
		top: -58px;
		left: -35px;
		z-index: -1;
	}
	#book ul{
		padding-left: 55px;
		margin-top: -15px;
		margin-bottom: 45px;
	}
	.slider h3, .slider p{
		display: none;
	}
	.slider ul {
		width: 100%;
	}
	.slider ul li.show{
		display: inline-block !important;
		width: 12%;
		vertical-align: top;
		margin: 0 10px;
		
	}
	.authors.slider ul li.show{
		transform: translateY(65%);
	}
	.slider ul li.active{
		display: inline-block !important;
		width: 25%;
		margin: 0 10px;
	}
	.slider ul li img{
		width: 100%;
	}
	.slider p.show, .slider h3.show{
		transform: translateX(-38%);
	}
}

@media only screen and (min-width: 768px){
		#contact p{
		font-size: 14px;
	}
}
